{% extends 'app1/base.html' %}
 {% block body %} 
    {% load static %}
    
            <div class="container mt-5">
                <h1 class="alert alert-success text-center">
                     MATERIAL MASTER
                </h1>
                <div class="row">
                    <div class="col-sm-3"></div>
                    
                     <div class="col-sm-6">
                        <form method="post" action="{% url 'materialcreate' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="container" id="two">
                                    
                                    <div class="row" style="display: inline-flex;">
                                        <div class="col-sm-6">
                                            <label for="productname">Product Name</label>
                                            <input type="text" name="productname" class="form-control" id="productname"
                                                   placeholder=" "
                                                   style="width: 100%;">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="sku">SKU</label>
                                            <input type="number" name="sku" class="form-control" id="sku"
                                                   style="width: 100%;" >
                                        </div>
                                    </div>
                            </div>         
                                        
                           <div class="container" id="two">
                                    
                                    <div class="row" style="display: inline-flex;">
                                        <div class="col-sm-6">
                                            <label for="hsn">HSN</label>
                                            <input type="number" name="hsn" class="form-control" id="hsn"
                                                   placeholder=" "
                                                   style="width: 100%;">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="quantity">Quantity</label>
                                            <input type="number" name="quantity" class="form-control" id="quantity"
                                                   placeholder=" "
                                                   style="width: 100%;" >
                                        </div>
                                    
                                    </div>
                            </div>
                            <br>         
                            <div class="container" id="two">
                                    
                                    <div class="row" style="display: inline-flex;">
                                        <div class="col-sm-6">
                                            <label for="manufacturing_date">Manufacturing Date*</label>
                                            <input type="date" name="manufacturing_date" class="form-control" id="manufacturing_date"
                                                   placeholder=" "
                                                   style="width: 100%;">
                                        </div>
                                        
                                        <div class="col-sm-6">
                                            <label for="expiry_date">Expiry Date*</label>
                                            <input type="date" name="expiry_date" class="form-control" id="expiry_date" 
                                                   placeholder=""
                                                   style="width: 100%;" >
                                        </div>
                                    </div>
                            </div>
                            <br>         
                            
                               <button type="submit" class="btn btn-success mt-3 w-100">CREATE</button>
                        </form>
                    </div>
              
       <div class="container bg-light mt-5">
        <h2 class="text-center alert alert-secondary">Manufacture</h2>
         <div class="row">  
         
        
    
            <div class="col-sm-6">
            <h4 class="text-center alert alert-dark">Components</h4>
             

                            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ProductName</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
               <tbody id="tbody"> 

   
    
<!DOCTYPE html>
<title>Test task 1</title>
<body>
  <!-- <div id="delColumn" class="del" onclick="appendColumn">
      <div id="addColumnChild"><b>–</b></div>
    </div>
     <div id="delRow" class="del" onclick="appendRow()">
      <div id="delRowChild"><b>–</b></div>
    </div>-->

  <table id="my-table">
    <tr id="default-row">
       <td><select name='product' id="product" class="form-control" style="background-color: #2f516f; color: white;">
                         <option value=" " selected>Select Product</option> 
                                    {% for i in obj %}
                                    <option value="{{ i }}" >{{ i }}</option>
                                    {% endfor %}
                       
            </select>     
                          
       </td>
      <td><input type="text" name='sku' id="sku1" placeholder='Enter SKU
                    ' class="form-control" style="background-color: #2f516f; color: white;" /></td>
      <td><input type="number" name='qty' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" value=0 class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;" />
                      <span id="qtyspan" class='text-muted'></td>
      <td><input type="number" name='price' id="unit1" placeholder='Enter  Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
      <td> <td><input type="number" name='total' id="total1" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td></td>

    </tr>
   
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>


  </table>
  <div id="addColumn" class="add">
    <div id="addColumnChild"><b></b></div>
  </div>
  <div id="addRow" class="add">
    <div id="addRowChild"><b>+</b></div>
  </div>
   <div class="container" id="two">
                                    
                                    <div class="row" style="display: inline-flex;">
                                        <div class="col-sm-6">
                                            <label for="total quantity">Total Quantity</label>
                                            <input type="number" name="total quantity" class="form-control" id="total quantity"
                                                   placeholder=" "
                                                   style="width: 100%;">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="total amount">Total Amount</label>
                                            <input type="number" name="total amount" class="form-control" id="total amount"
                                                   style="width: 100%;" >
                                        </div>
                                        
                                    </div>
                            </div>

       <div class="row mt-4 mb-4"> 
                         
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-outline-info w-100 text-light rounded-pill">Save
                                </button>
                            </div>
                           
                  </div>                 

 
  
  

<script>
  $('#addColumnChild').click(function(){
	$('#my-table tr').each(function(){
  	$(this).append(`<td></td>`);
    
  })
});

$('#addRowChild').click(function(){
	$('#my-table tbody').append(`<tr>${$('#default-row').html()}</tr>`);
});
</script>

</tbody>
</table>
</div>  
  
     

        <div class="col-sm-6">
            <h4 class="text-center alert alert-dark">Coproducts/Scrap</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ProductName</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                    </tr> 
                </thead>
                <tbody id="tbody">
              <!DOCTYPE html>
<title>Test task 1</title>
<body>
  <!-- <div id="delColumn" class="del" onclick="appendColumn">
      <div id="addColumnChild"><b>–</b></div>
    </div>
     <div id="delRow" class="del" onclick="appendRow()">
      <div id="delRowChild"><b>–</b></div>
    </div>-->

  <table id="my-mtable">
    <tr id="default-row">
      <td><select name='product' id="product" class="form-control" style="background-color: #2f516f; color: white;">
                         <option value=" " selected>Select Product</option> 
                                    {% for i in obj %}
                                    <option value="{{ i }}" >{{ i }}</option>
                                    {% endfor %}
                       
            </select>     
                          
                        </td>
      <td><input type="text" name='sku' id="sku1" placeholder='Enter SKU
                    ' class="form-control" style="background-color: #2f516f; color: white;" /></td>
      <td><input type="number" name='qty' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" value=0 class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;" />
                      <span id="qtyspan" class='text-muted'></td>
      <td><input type="number" name='price' id="unit1" placeholder='Enter  Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
      <td> <td><input type="number" name='total' id="total1" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
   
     
  </table>
  {% comment %} <div id="addColumn" class="add">
    <div id="addColumnChild1"><b></b></div>
  </div> {% endcomment %}
  <div id="addRow" class="add">
    <div id="addRowChild1"><b>+</b></div>
  </div>
  <div class="col-sm-4">
                                            <label for="cost of components">Cost of Components:</label>
                                             <input type="number" name="cost of components" class="form-control" id="cost"
                                                   style="width: 100%;" > 
                                   
                                        </div>
 <div class="container" id="three">
                                    
                                    <div class="row" style="display: inline-flex;">
                                       
                                            
                                            
                                        <div class="col-sm-4">
                                            <label for="type of additional cost">Type of Additional Cost</label>
                                             <input type="text" name="type of additional cost" class="form-control" id="type of additional cost"
                                                   style="width: 100%;" > 
                                   
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="percentage">Percentage</label>
                                            <input type="number" name="percentage" class="form-control" id="percentage"
                                                   style="width: 100%;" >
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="amount">Amount</label>
                                            <input type="number" name="amount" class="form-control" id="amount"
                                                   style="width: 100%;" >
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="type of additional cost"></label>
                                             <input type="text" name="type of additional cost" class="form-control" id="type of additional cost"
                                                   style="width: 100%;" > 
                                   
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="percentage"></label>
                                            <input type="number" name="percentage" class="form-control" id="percentage"
                                                   style="width: 100%;" >
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="amount"></label>
                                            <input type="number" name="amount" class="form-control" id="amount"
                                                   style="width: 100%;" >
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="type of additional cost"></label>
                                             <input type="text" name="type of additional cost" class="form-control" id="type of additional cost"
                                                   style="width: 100%;" > 
                                   
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="percentage"></label>
                                            <input type="number" name="percentage" class="form-control" id="percentage"
                                                   style="width: 100%;" >
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="amount"></label>
                                            <input type="number" name="amount" class="form-control" id="amount"
                                                   style="width: 100%;" >
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="type of additional cost"></label>
                                             <input type="text" name="type of additional cost" class="form-control" id="type of additional cost"
                                                   style="width: 100%;" > 
                                   
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="percentage"></label>
                                            <input type="number" name="percentage" class="form-control" id="percentage"
                                                   style="width: 100%;" >
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="amount"></label>
                                            <input type="number" name="amount" class="form-control" id="amount"
                                                   style="width: 100%;" >
                                        </div>
                                        
                                    </div> 
                                   </div>
                                  <div class="col-sm-4">
                                            <label for="total additional cost">Total Addl Cost:</label>
                                             <input type="number" name="total additional cost" class="form-control" id="total additional cost"
                                                   style="width: 100%;" > 
                                   
                                  </div> 
                                  
                                  <div class="col-sm-4">
                                            <label for="effective cost">Effective Cost:</label>
                                             <input type="number" name="effective cost" class="form-control" id="effective cost"
                                                   style="width: 100%;" > 
                                   
                                  </div>
                                  <div class="col-sm-6">
                                            <label for="effective rate of primary item">Effective rate of primary item:</label>
                                             <input type="number" name="effective rate of primary item" class="form-control" id="effective rate of primary item"
                                                   style="width: 100%;" > 
                                   
                                  </div>  
                          <div class="row mt-4 mb-4">
                           <div class="col-md-10"></div> 
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-outline-info w-100 text-light rounded-pill">Save
                                </button>
                            </div>
                          </div> 
                          </div>

                                    
<script>
  $('#addColumnChild1').click(function(){
	$('#my-mtable tr').each(function(){
  	$(this).append(`<td></td>`);
    
  })
});

$('#addRowChild1').click(function(){
	$('#my-mtable tbody').append(`<tr>${$('#default-row').html()}</tr>`);
});
</script>




                    
        </tbody>
        </table>
        </div>  
   </tbody>
    </table>
    {% endblock%}


