{% extends 'app1/base.html' %}
 {% block body %} 
    {% load static %}
    
            <div class="container mt-5">
                <h1 class="alert alert-success text-center">
                     MATERIAL MASTER
                </h1>
                <div class="row">
                    <div class="col-sm-3"></div>
                    
                     <div class="col-sm-6">
                        <form method="post" action="{% url 'materialcreate' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="container" id="two">
                                    
                                    <div class="row" style="display: inline-flex;">
                                        <div class="col-sm-6">
                                            <label for="productname">Product Name</label>
                                            <input type="text" name="productname" class="form-control" id="productname"
                                                   placeholder=" "
                                                   style="width: 100%;">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="sku">SKU</label>
                                            <input type="number" name="sku" class="form-control" id="sku"
                                                   style="width: 100%;" >
                                        </div>
                                    </div>
                            </div>         
                                        
                           <div class="container" id="two">
                                    
                                    <div class="row" style="display: inline-flex;">
                                        <div class="col-sm-6">
                                            <label for="hsn">HSN</label>
                                            <input type="number" name="hsn" class="form-control" id="hsn"
                                                   placeholder=" "
                                                   style="width: 100%;">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="quantity">Quantity</label>
                                            <input type="number" name="quantity" class="form-control" id="quantity"
                                                   placeholder=" "
                                                   style="width: 100%;" >
                                        </div>
                                    
                                    </div>
                            </div>
                            <br>         
                            <div class="container" id="two">
                                    
                                    <div class="row" style="display: inline-flex;">
                                        <div class="col-sm-6">
                                            <label for="manufacturing_date">Manufacturing Date*</label>
                                            <input type="date" name="manufacturing_date" class="form-control" id="manufacturing_date"
                                                   placeholder=" "
                                                   style="width: 100%;">
                                        </div>
                                        
                                        <div class="col-sm-6">
                                            <label for="expiry_date">Expiry Date*</label>
                                            <input type="date" name="expiry_date" class="form-control" id="expiry_date" 
                                                   placeholder=""
                                                   style="width: 100%;" >
                                        </div>
                                    </div>
                            </div>
                            <br>         
                            
                               <button type="submit" class="btn btn-success mt-3 w-100">CREATE</button>
                        </form>
                    </div>
              
       <div class="container bg-light mt-5">
        <h2 class="text-center alert alert-secondary">Manufacture</h2>
         <div class="row">   
        
    
            <div class="col-sm-6">
            <h4 class="text-center alert alert-dark">Components</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ProductName</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody id="tbody">

                   
                    <tr>
                      <td>
                      
                        <select name='product' id="product" class="form-control" style="background-color: #2f516f; color: white;">
                        <option value=" " selected>Select Product</option>
                        {% for inv in inventory %}
                        {% if id == inventoryid %}
                        <option text="{{ inv.inventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        {% for inv in noninventory %}
                        {% if id == noninventoryid %}
                        <option text="{{ inv.noninventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        
                      </select>     
                        
                    
                    </td>
                    <td><input type="text" name='sku' id="sku1" placeholder='Enter SKU
                    ' class="form-control" style="background-color: #2f516f; color: white;" /></td>
                    
                    <td><input type="number" name='qty' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" value=0 class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;" />
                      <span id="qtyspan" class='text-muted'></span>
                    </td>
                    <td><input type="number" name='price' id="unit1" placeholder='Enter  Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
                    <td><input type="number" name='total' id="total1" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td>
                </tr>
                <tr>
                    <td>
                              
                      <select name='product' id="product" class="form-control" style="background-color: #2f516f; color: white;">
                        <option value=" " selected>Select Product</option>
                        {% for inv in inventory %}
                        {% if id == inventoryid %}
                        <option text="{{ inv.inventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        {% for inv in noninventory %}
                        {% if id == noninventoryid %}
                        <option text="{{ inv.noninventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        
                      </select>
                    </td>
                    <td><input type="text" name='sku' id="sku1" placeholder='Enter SKU
                    ' class="form-control" style="background-color: #2f516f; color: white;" /></td>
                    
                    <td><input type="number" name='qty' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" value=0 class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;" />
                      <span id="qtyspan" class='text-muted'></span>
                    </td>
                    <td><input type="number" name='price' id="unit1" placeholder='Enter  Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
                    <td><input type="number" name='total' id="total1" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td>
                </tr>
                <tr>
                 <td>
                     <select name='product' id="product" class="form-control" style="background-color: #2f516f; color: white;">
                         <option value=" " selected>Select Product</option>
                        {% for inv in inventory %}
                        {% if id == inventoryid %}
                        <option text="{{ inv.inventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        {% for inv in noninventory %}
                        {% if id == noninventoryid %}
                        <option text="{{ inv.noninventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        </select>
                   </td>     
                             
                        
                     
                         
                    <td><input type="text" name='sku' id="sku1" placeholder='Enter SKU
                    ' class="form-control" style="background-color: #2f516f; color: white;" /></td>
                    
                    <td><input type="number" name='qty' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" value=0 class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;" />
                      <span id="qtyspan" class='text-muted'></span>
                    </td>
                    <td><input type="number" name='price' id="unit1" placeholder='Enter  Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
                    <td><input type="number" name='total' id="total1" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td>
                </tr>
                <tr>
                    <td>
                              
                      <select name='product' id="product" class="form-control" style="background-color: #2f516f; color: white;">
                        <option value=" " selected>Select Product</option>
                        {% for inv in inventory %}
                        {% if id == inventoryid %}
                        <option text="{{ inv.inventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        {% for inv in noninventory %}
                        {% if id == noninventoryid %}
                        <option text="{{ inv.noninventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        
                      </select>
                    </td>
                    <td><input type="text" name='sku' id="sku1" placeholder='Enter SKU
                    ' class="form-control" style="background-color: #2f516f; color: white;" /></td>
                    
                    <td><input type="number" name='qty' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" value=0 class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;" />
                      <span id="qtyspan" class='text-muted'></span>
                    </td>
                    <td><input type="number" name='price' id="unit1" placeholder='Enter  Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
                    <td><input type="number" name='total' id="total1" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td>
                </tr>
                 <tr>
                    <td>
                              
                      <select name='product' id="product" class="form-control" style="background-color: #2f516f; color: white;">
                        <option value=" " selected>Select Product</option>
                        {% for inv in inventory %}
                        {% if id == inventoryid %}
                        <option text="{{ inv.inventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        {% for inv in noninventory %}
                        {% if id == noninventoryid %}
                        <option text="{{ inv.noninventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        
                      </select>
                    </td>
                    <td><input type="text" name='sku' id="sku1" placeholder='Enter SKU
                    ' class="form-control" style="background-color: #2f516f; color: white;" /></td>
                    
                    <td><input type="number" name='qty' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" value=0 class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;" />
                      <span id="qtyspan" class='text-muted'></span>
                    </td>
                    <td><input type="number" name='price' id="unit1" placeholder='Enter  Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
                    <td><input type="number" name='total' id="total1" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td>
                </tr>
                 <tr>
                    <td>
                              
                      <select name='product' id="product" class="form-control" style="background-color: #2f516f; color: white;">
                        <option value=" " selected>Select Product</option>
                        {% for inv in inventory %}
                        {% if id == inventoryid %}
                        <option text="{{ inv.inventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        {% for inv in noninventory %}
                        {% if id == noninventoryid %}
                        <option text="{{ inv.noninventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        
                      </select>
                    </td>
                    <td><input type="text" name='sku' id="sku1" placeholder='Enter SKU
                    ' class="form-control" style="background-color: #2f516f; color: white;" /></td>
                    
                    <td><input type="number" name='qty' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" value=0 class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;" />
                      <span id="qtyspan" class='text-muted'></span>
                    </td>
                    <td><input type="number" name='price' id="unit1" placeholder='Enter  Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
                    <td><input type="number" name='total' id="total1" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td>
                </tr>
                
                 
                    
              <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<script>
    $(document).ready(function() {
        var max_fields = 30; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count


        $(add_button).click(function(e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed

                //text box increment
                $(wrapper).append('<div>'<input type="text" productname="mytext[]"/></div>'
                                   '<div>'<input type="text" sku="mytext[]"/></div>'  
                                   '<div>'<input type="number" quantity="mytext[]"/></div>'  
                                   '<div>'<input type="number" price="mytext[]"/></div>'
                                   '<div>'<input type="number" amount="mytext[]"/></div>'); //add input box
                x++;
            }
        });
        
    });

        
</script>

<body>
    <div class="input_fields_wrap">
    <tr><td><div class="bs-example">
                    <div class="container">
                    <div class="row">
                       <div class="col-md-6 bg-light text-right"> 
                       
                   </div>
                   </div> 
  
        
        <button class="add_field_button" class="btn btn-primary ml-2" >Add </button>
        <tr><td>
                <div><input type="text" productname="mytext[]"></div>
                <div><input type="text" sku="mytext[]"></div>
               <div><input type="number" quantity="mytext[]"></div>
               <div><input type="number" price="mytext[]"></div>
               <div><input type="number" amount="mytext[]">
               </tr></td>



    </div>
    </div>
</div></td></tr>
                </tr>
                
                    
                </tbody>
            </table>
        </div> 
        <div class="col-sm-6">
            <h4 class="text-center alert alert-dark">Coproducts/Scrap</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ProductName</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                    </tr> 
                </thead>
                <tbody id="tbody">
                  <tr>
                       <td>
                              
                      <select name='product' id="product" class="form-control" style="background-color: #2f516f; color: white;"> 
                         <option value=" " selected>Select Product</option>
                        {% for inv in inventory %}
                        {% if id == inventoryid %}
                        <option text="{{ inv.inventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        {% for inv in noninventory %}
                        {% if id == noninventoryid %}
                        <option text="{{ inv.noninventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        
                      </select>
                    </td>
                    <td><input type="text" name='sku' id="sku1" placeholder='Enter SKU
                    ' class="form-control" style="background-color: #2f516f; color: white;" /></td>
                    
                    <td><input type="number" name='qty' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" value=0 class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;" />
                      <span id="qtyspan" class='text-muted'></span>
                    </td>
                    <td><input type="number" name='price' id="unit1" placeholder='Enter  Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
                    <td><input type="number" name='total' id="total1" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td>
                </tr>
                <tr>
                    <td>
                              
                      <select name='product' id="product" class="form-control" style="background-color: #2f516f; color: white;">
                        <option value=" " selected>Select Product</option>
                        {% for inv in inventory %}
                        {% if id == inventoryid %}
                        <option text="{{ inv.inventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        {% for inv in noninventory %}
                        {% if id == noninventoryid %}
                        <option text="{{ inv.noninventoryid }}" value="{{ inv.name }}">{{ inv.name }} </option>
                        {% endif %}
                        {% endfor %}
                        
                      </select>
                    </td>
                    <td><input type="text" name='sku' id="sku1" placeholder='Enter SKU
                    ' class="form-control" style="background-color: #2f516f; color: white;" /></td>
                    
                    <td><input type="number" name='qty' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" value=0 class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;" />
                      <span id="qtyspan" class='text-muted'></span>
                    </td>
                    <td><input type="number" name='price' id="unit1" placeholder='Enter  Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
                    <td><input type="number" name='total' id="total1" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td>
                </tr>
               
                    
    </div>
</div></td></tr>
                </tr>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<script>
    $(document).ready(function() {
        var max_fields = 30; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count


        $(add_button).click(function(e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed

                //text box increment
                $(wrapper).append('<div>'<input type="text" productname="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'
                                   '<div>'<input type="text" sku="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'  
                                   '<div>'<input type="number" quantity="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'  
                                   '<div>'<input type="number" price="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'
                                   '<div>'<input type="number" amount="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
                x++;
            }
        });
        $(wrapper).on("click", ".remove_field", function(e) { //user click on remove text

            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        })
    });

        
</script>

<body>
    <div class="input_fields_wrap">
    <tr><td><div class="bs-example">
                    <div class="container">
                    <div class="row">
                       <div class="col-md-6 bg-light text-right"> 
                       
                   </div>
                   </div> 
  
        
        <button class="add_field_button" class="btn btn-primary ml-2" >Add </button>
        <tr><td>
                <div><input type="text" productname="mytext[]"></div>
                <div><input type="text" sku="mytext[]"></div>
               <div><input type="number" quantity="mytext[]"></div>
               <div><input type="number" price="mytext[]"></div>
               <div><input type="number" amount="mytext[]">
               </tr></td>



    </div>
    </div>
</div></td></tr>
                </tr>            
   </tbody>
    </table>
    {% endblock%}


