{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}
    
            <div class="container mt-5">
                <h1 class="alert alert-success text-center">
                     MATERIAL MASTER
                </h1>
                <div class="row">
                    <div class="col-sm-3"></div>
                <form method="POST" action="/updatematerial/{{product.pk}}" enctype="multipart/form-data">    
                <div class="col-md-3">
                <label class="col-form-label">
                Product Name </label>
                <input type="text" name="productname" value="{{ product.productname}}" class="form-control">
              </div>
              <div class="col-md-3">
                <label class="col-form-label">
                SKU </label>
                <input type="text" name="sku" value="{{ product.sku}}" class="form-control">
              </div>
              <div class="col-md-3">
                <label class="col-form-label">
                HSN </label>
                <input type="text" name="hsn" value="{{ product.hsn}}" class="form-control">
              </div>
              <div class="col-md-3">
                <label class="col-form-label">
                Quantity </label>
                <input type="text" name="quantity" value="{{ product.quantity}}" class="form-control">
              </div>
              <div class="col-md-3">
                <label class="col-form-label">
                Manufactuaring Date </label>
                <input type="text" name="manufactuaring_date" value="{{ product.manufactuaring_date}}" class="form-control">
              </div>
              <div class="col-md-3">
                <label class="col-form-label">
               Expiry Date</label>
                <input type="text" name="expiry_date" value="{{ product.expiry_date}}" class="form-control">
              </div>
               <button type="Submit" class="btn btn-success">Update</button>
              <input type="Submit" value="Previous page">
            </form>  
{% endblock %}               

              
